html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', serif;
}

/** Globales **/

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
    color: #000;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}


img {
    max-width: 100%;
    display: block;
}

/** Header y Navegación **/

.nombre-sitio {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.nombre-sitio span {
    color: #037bc0;
}

.contenedor-navegacion {
    border-top: 1px solid #e1e1e1;
}


.nav-principal {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

/** Listado Categorías **/

.categorias h2 {
    text-align: center;
}

.categoria a {
    text-align: center;
    display: block;
    padding: 20px;
    font-size: 20px;
}

.categoria a:hover {
    background-color: #037bc0;
    color: #ffffff;
    border-bottom-right-radius: 10px;
}


.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}